__pycache__/
*.pyc
.venv/

data/
artifacts/**/*.pt
artifacts/**/*.pth

paper/paper_latex/main.pdf
paper/paper_latex/*.aux
paper/paper_latex/*.log
paper/paper_latex/*.bbl
paper/paper_latex/*.blg
paper/paper_latex/*.out

.DS_Store
.vscode/
.idea/
